@model MarkedModulesViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Course Description</th>
            <th scope="col"> Mark</th>
            @if(User.IsInRole("Admin"))
            {
                <th scope="col"> New Mark</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var markedModule in Model.CourseModuleMarks)
        {
            <tr>
                <td>@markedModule.Description</td>
                <td>@markedModule.Mark</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-controller="Student" asp-action="GiveMark" method="post">
                            <input type="hidden" name="studentId" value="@Model.StudentId" />
                            <input type="hidden" name="CourseId" value="@Model.CourseId" />
                            <input type="hidden" name="courseModuleId" value="@markedModule.CourseModuleId" />
                            @if (markedModule.Mark != null)
                            {
                                <label>Edit Mark:</label>
                            }
                            else
                            {
                                <label>give Mark:</label>
                            }
                            <input type="number" name="Mark" required />
                            <button type="submit" class="btn-primary"> Change Mark</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>