@model MarkedModulesViewModel

@foreach (var markedModule in Model.CourseModuleMarks)
{
    <h1>courseModule: @markedModule.CourseDescription</h1>

    @if (markedModule.Mark != null)
    {
        @if (User.IsInRole("Admin"))
        {
            <form asp-controller="Student" asp-action="GiveMark" method="post">
                <input type="hidden" name="studentId" value="@Model.StudentId" />
                <input type="hidden" name="CourseId" value="@Model.CourseId" />
                <input type="hidden" name="courseModuleId" value="@markedModule.CourseModuleId" />
                <label>Grade: @markedModule.Mark Edit Mark:</label>
                <input type="number" name="Mark" required />
                <button type="submit"> Change Mark</button>
            </form>
        }else
        {
            <p>Grade: @markedModule.Mark</p>
        }
    }
    else
    {
        @if (User.IsInRole("Admin"))
        {
            <form asp-controller="Student" asp-action="GiveMark" method="post">
                <input type="hidden" name="studentId" value="@Model.StudentId" />
                <input type="hidden" name="CourseId" value="@Model.CourseId" />
                <input type="hidden" name="courseModuleId" value="@markedModule.CourseModuleId" />
                <label> Enter Mark:</label>
                <input type="number" name="Mark" required />
                <button type="submit"> Give mark</button>
            </form>
        }else
        {
            <p>Grade: @markedModule.Mark</p>
        }
    }
}